body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:641px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4001 {
  position:absolute;
  left:74px;
  top:134px;
  width:373px;
  height:641px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:312px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u4003 {
  position:absolute;
  left:45px;
  top:8px;
  width:430px;
  height:866px;
  opacity:0.5;
}
#u4004 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
}
#u4005 {
  position:absolute;
  left:74px;
  top:108px;
  width:374px;
  height:25px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:42px;
}
#u4008 {
  position:absolute;
  left:73px;
  top:128px;
  width:374px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u4009 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  word-wrap:break-word;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u4011 {
  position:absolute;
  left:84px;
  top:138px;
  width:25px;
  height:23px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4013 {
  position:absolute;
  left:91px;
  top:142px;
  width:9px;
  height:15px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:469px;
}
#u4015 {
  position:absolute;
  left:73px;
  top:169px;
  width:374px;
  height:469px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:226px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4017 {
  position:absolute;
  left:231px;
  top:227px;
  width:66px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4020 {
  position:absolute;
  left:84px;
  top:403px;
  width:57px;
  height:16px;
  color:#797979;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4022 {
  position:absolute;
  left:247px;
  top:403px;
  width:179px;
  height:16px;
  color:#797979;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4024 {
  position:absolute;
  left:84px;
  top:376px;
  width:57px;
  height:16px;
  color:#797979;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4026 {
  position:absolute;
  left:371px;
  top:377px;
  width:57px;
  height:16px;
  color:#797979;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4028 {
  position:absolute;
  left:84px;
  top:429px;
  width:57px;
  height:16px;
  color:#797979;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4030 {
  position:absolute;
  left:337px;
  top:430px;
  width:89px;
  height:16px;
  color:#797979;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4032 {
  position:absolute;
  left:84px;
  top:455px;
  width:29px;
  height:16px;
  color:#797979;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4034 {
  position:absolute;
  left:397px;
  top:456px;
  width:31px;
  height:16px;
  color:#797979;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 0, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4037 {
  position:absolute;
  left:225px;
  top:187px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u4038 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u4040 {
  position:absolute;
  left:259px;
  top:193px;
  width:57px;
  height:20px;
}
#u4041 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u4042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u4042 {
  position:absolute;
  left:239px;
  top:270px;
  width:58px;
  height:20px;
  color:#949494;
}
#u4043 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u4044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4044 {
  position:absolute;
  left:84px;
  top:483px;
  width:57px;
  height:16px;
  color:#797979;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u4046 {
  position:absolute;
  left:372px;
  top:483px;
  width:53px;
  height:16px;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4049 {
  position:absolute;
  left:83px;
  top:533px;
  width:57px;
  height:16px;
  color:#797979;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u4051 {
  position:absolute;
  left:330px;
  top:533px;
  width:101px;
  height:16px;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4054 {
  position:absolute;
  left:84px;
  top:557px;
  width:43px;
  height:16px;
  color:#797979;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u4056 {
  position:absolute;
  left:300px;
  top:557px;
  width:129px;
  height:16px;
  color:#797979;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u4058 {
  position:absolute;
  left:73px;
  top:518px;
  width:373px;
  height:1px;
}
#u4059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:79px;
}
#u4060 {
  position:absolute;
  left:73px;
  top:658px;
  width:374px;
  height:79px;
  text-align:left;
  line-height:20px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:32px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(255, 0, 0, 0.756862745098039);
  line-height:20px;
}
#u4062 {
  position:absolute;
  left:88px;
  top:669px;
  width:350px;
  height:59px;
  font-size:13px;
  color:rgba(255, 0, 0, 0.756862745098039);
  line-height:20px;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
