body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1299px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:641px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3848 {
  position:absolute;
  left:74px;
  top:134px;
  width:373px;
  height:641px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:312px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u3850 {
  position:absolute;
  left:45px;
  top:8px;
  width:430px;
  height:866px;
  opacity:0.5;
}
#u3851 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
}
#u3852 {
  position:absolute;
  left:74px;
  top:108px;
  width:374px;
  height:25px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:42px;
}
#u3855 {
  position:absolute;
  left:73px;
  top:128px;
  width:374px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u3856 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  word-wrap:break-word;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u3858 {
  position:absolute;
  left:84px;
  top:138px;
  width:25px;
  height:23px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3860 {
  position:absolute;
  left:91px;
  top:142px;
  width:9px;
  height:15px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:469px;
}
#u3862 {
  position:absolute;
  left:73px;
  top:169px;
  width:374px;
  height:469px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:226px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3864 {
  position:absolute;
  left:231px;
  top:227px;
  width:66px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3867 {
  position:absolute;
  left:84px;
  top:403px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3868 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3869 {
  position:absolute;
  left:247px;
  top:403px;
  width:179px;
  height:16px;
  color:#797979;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u3871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3871 {
  position:absolute;
  left:84px;
  top:376px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3873 {
  position:absolute;
  left:397px;
  top:377px;
  width:29px;
  height:16px;
  color:#797979;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3875 {
  position:absolute;
  left:84px;
  top:429px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3877 {
  position:absolute;
  left:337px;
  top:430px;
  width:89px;
  height:16px;
  color:#797979;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3879 {
  position:absolute;
  left:84px;
  top:455px;
  width:29px;
  height:16px;
  color:#797979;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3881 {
  position:absolute;
  left:397px;
  top:456px;
  width:31px;
  height:16px;
  color:#797979;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 0, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3884 {
  position:absolute;
  left:225px;
  top:187px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u3885 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3887 {
  position:absolute;
  left:259px;
  top:193px;
  width:57px;
  height:20px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u3889 {
  position:absolute;
  left:239px;
  top:270px;
  width:58px;
  height:20px;
  color:#949494;
}
#u3890 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u3891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3891 {
  position:absolute;
  left:84px;
  top:483px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3893 {
  position:absolute;
  left:372px;
  top:483px;
  width:53px;
  height:16px;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3896 {
  position:absolute;
  left:83px;
  top:533px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3898 {
  position:absolute;
  left:330px;
  top:533px;
  width:101px;
  height:16px;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:641px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3900 {
  position:absolute;
  left:577px;
  top:135px;
  width:373px;
  height:641px;
}
#u3901 {
  position:absolute;
  left:2px;
  top:312px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u3902 {
  position:absolute;
  left:548px;
  top:9px;
  width:430px;
  height:866px;
  opacity:0.5;
}
#u3903 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:25px;
}
#u3904 {
  position:absolute;
  left:577px;
  top:109px;
  width:374px;
  height:25px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:4px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:42px;
}
#u3907 {
  position:absolute;
  left:576px;
  top:129px;
  width:374px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u3908 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  word-wrap:break-word;
}
#u3909 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u3910 {
  position:absolute;
  left:587px;
  top:139px;
  width:25px;
  height:23px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u3912 {
  position:absolute;
  left:594px;
  top:143px;
  width:9px;
  height:15px;
}
#u3913 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:545px;
}
#u3914 {
  position:absolute;
  left:576px;
  top:170px;
  width:374px;
  height:545px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:264px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3916 {
  position:absolute;
  left:734px;
  top:228px;
  width:73px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3919 {
  position:absolute;
  left:587px;
  top:404px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3920 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3921 {
  position:absolute;
  left:871px;
  top:404px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3923 {
  position:absolute;
  left:587px;
  top:377px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3925 {
  position:absolute;
  left:900px;
  top:378px;
  width:29px;
  height:16px;
  color:#797979;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3927 {
  position:absolute;
  left:587px;
  top:430px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3929 {
  position:absolute;
  left:840px;
  top:431px;
  width:89px;
  height:16px;
  color:#797979;
}
#u3930 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3931 {
  position:absolute;
  left:587px;
  top:456px;
  width:29px;
  height:16px;
  color:#797979;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3933 {
  position:absolute;
  left:900px;
  top:457px;
  width:31px;
  height:16px;
  color:#797979;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 0, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3936 {
  position:absolute;
  left:727px;
  top:188px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u3937 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u3939 {
  position:absolute;
  left:762px;
  top:194px;
  width:57px;
  height:20px;
}
#u3940 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u3941 {
  position:absolute;
  left:742px;
  top:271px;
  width:58px;
  height:20px;
  color:#949494;
}
#u3942 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3943 {
  position:absolute;
  left:587px;
  top:483px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3945 {
  position:absolute;
  left:877px;
  top:483px;
  width:53px;
  height:16px;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3948 {
  position:absolute;
  left:84px;
  top:557px;
  width:43px;
  height:16px;
  color:#797979;
}
#u3949 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3950 {
  position:absolute;
  left:300px;
  top:557px;
  width:129px;
  height:16px;
  color:#797979;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3952 {
  position:absolute;
  left:73px;
  top:518px;
  width:373px;
  height:1px;
}
#u3953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:2px;
}
#u3954 {
  position:absolute;
  left:577px;
  top:519px;
  width:373px;
  height:1px;
}
#u3955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3957 {
  position:absolute;
  left:587px;
  top:544px;
  width:57px;
  height:16px;
  color:#797979;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3959 {
  position:absolute;
  left:832px;
  top:544px;
  width:101px;
  height:16px;
  font-size:13px;
  color:rgba(51, 51, 51, 0.627450980392157);
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3962 {
  position:absolute;
  left:588px;
  top:568px;
  width:43px;
  height:16px;
  color:#797979;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u3964 {
  position:absolute;
  left:804px;
  top:568px;
  width:129px;
  height:16px;
  color:#797979;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:79px;
}
#u3966 {
  position:absolute;
  left:73px;
  top:658px;
  width:374px;
  height:79px;
  text-align:left;
  line-height:20px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:32px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:rgba(255, 0, 0, 0.756862745098039);
  line-height:20px;
}
#u3968 {
  position:absolute;
  left:88px;
  top:669px;
  width:350px;
  height:59px;
  font-size:13px;
  color:rgba(255, 0, 0, 0.756862745098039);
  line-height:20px;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3970 {
  position:absolute;
  left:1059px;
  top:369px;
  width:240px;
  height:130px;
  text-align:left;
}
#u3971 {
  position:absolute;
  left:2px;
  top:9px;
  width:236px;
  word-wrap:break-word;
}
